* {
    margin: 0;
    padding: 0;
    font-family: 'Ropa Sans', sans-serif;
}

body {
    background-color: white;

}

/* Animasi saat halaman diload */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.container,
.profile,
.photo,
.desc,
.socmed {
    animation: fadeIn 1s ease-in-out;
    animation-delay: 1s;
    animation-fill-mode: backwards;
}



video {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: -1;
    object-fit: cover;
    opacity: 30%;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    height: 100vh;
    width: 100%;
}

.profile {
    width: 100%;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
}



.profile img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 1px solid #112a46;
}

.photo {
    width: 100%;
    height: 30vh;
    align-items: center;
    justify-content: center;
    display: flex;
}

.desc {
    display: grid;
    align-items: center;
    justify-content: center;
    height: 10vh;
    text-align: center;
    color: #112a46;
}

.desc p {
    font-size: 16px;
    font-weight: 600;
    margin: 1px;
}

.socmed {
    height: 60vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}


.primary-button {
    font-family: 'Ropa Sans', sans-serif;
    color: #556f8c;
    cursor: pointer;
    width: 400px;
    height: 60px;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 0.05rem;
    border: 1px solid #112a46;
    padding: 0.8rem 2.1rem;
    background: rgba(255, 255, 255, 0.1); /* Warna transparan untuk glassmorphism */
    backdrop-filter: blur(8px); /* Efek blur */
    border-radius: 2px; /* Sudut membulat untuk tampilan lebih modern */
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 531.28 200'%3E%3Cdefs%3E%3Cstyle%3E .shape %7B fill: %23F8F8FF %7D %3C/style%3E%3C/defs%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='Layer_1-2' data-name='Layer 1'%3E%3Cpolygon class='shape' points='415.81 200 0 200 115.47 0 531.28 0 415.81 200' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
    background-size: 200%;
    background-position: 200%;
    background-repeat: no-repeat;
    transition: 0.3s ease-in-out;
    transition-property: background-position, border, color, background-color, backdrop-filter;
    position: relative;
    z-index: 1;
}

.primary-button:hover {
    border: 1px solid #cfd5de;
    color: #112a46;
    background-position: 40%;
}

   
   .primary-button:before {
    content: "";
    position: absolute;
    background-color: white;
    border: 1px solid #112a46;
    width: 0.2rem;
    height: 0.2rem;
    top: -1px;
    left: -1px;
    transition: background-color 0.15s ease-in-out;
   }
   
   .primary-button:hover:before {
    background-color: #112a46;
   }
   
   .primary-button:hover:after {
    background-color: #112a46;
   }
   
   .primary-button:after {
    content: "";
    position: absolute;
    background-color: white;
    border: 1px solid #112a46;
    width: 0.3rem;
    height: 0.3rem;
    bottom: -1px;
    right: -1px;
    transition: background-color 0.15s ease-in-out;
   }
   
   .button-borders {
    position: relative;
    width: fit-content;
    height: fit-content;
    margin: 20px;
   }
   
   .button-borders:before {
    content: "";
    position: absolute;
    width: calc(100% + 0.5em);
    height: 50%;
    left: -0.3em;
    top: -0.3em;
    border: 1px solid #112a46;
    border-bottom: 0px;
       /* opacity: 0.3; */
   }
   
   .button-borders:after {
    content: "";
    position: absolute;
    width: calc(100% + 0.5em);
    height: 50%;
    left: -0.3em;
    bottom: -0.3em;
    border: 1px solid #112a46;
    border-top: 0px;
       /* opacity: 0.3; */
    z-index: 0;
   }
   
   .shape {
    fill: #112a46;
   }
   


.credit {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #112a46;
}


@media (max-width: 768px) {
    .profile img {
        height: 140px;
        width: 140px;
    }
    .photo {
        height: 25vh;
    }



    .desc {
        display: grid;
        width: 100%;
        align-items: center;
        justify-content: center;
        text-align: center;

    }

    .desc p {
        font-size: 15px;
        font-weight: 600;
    }

    .primary-button {
        width: 320px;
    }
}
